/terraform.iml
/01-learn-terraform-docker-container/terraform.tfstate
/01-learn-terraform-docker-container/terraform.tfstate.backup
/01-learn-terraform-docker-container/.terraform.lock.hcl
/01-learn-terraform-docker-container/.terraform/
/tests/.idea/
/.idea/
/02-learn-terraform-aws-instance/.terraform.lock.hcl
/02-learn-terraform-aws-instance/terraform.tfstate.backup
/02-learn-terraform-aws-instance/terraform.tfstate
/tests/screenshot.png
/02-learn-terraform-aws-instance/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/linux_amd64/terraform-provider-aws_v4.67.0_x5
